<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
    <title>{% block titulo %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="/admin_media/css/base.css" />
    <link rel="stylesheet" type="text/css" href="/admin_media/css/dashboard.css" />
    <link rel="stylesheet" type="text/css" media="all" href="/media/calendario/calendar-win2k-1.css" title="win2k-1" />

<script type="text/javascript">window.__admin_media_prefix__ = "/admin_media/";</script>


<script type="text/javascript" src="/media/calendario/calendar.js"></script>
<script type="text/javascript" src="/media/calendario/lang/calendar-br.js"></script>
<script type="text/javascript" src="/media/calendario/calendar-page.js"></script>


</head>
<body class="dashboard">
<div id="container">
 <div id="header">
        <div id="branding">
          <h1 id="site-name">Tópicos Avançados | DITEX</h1>
        </div>

	<div id="user-tools">
	    Bem vindo,
            <strong>{{ request.user }}</strong>.
            <a href="/sair">Sair</a>            
        </div>

 </div>	
 <div id="header">
        <div id="branding">
           <h1>
		<a href="/lista/aluno">Alunos    |</a>
		<a href="/lista/curso">Cursos    |</a>
		<a href="/lista/empresa">Empresas    |</a> 
		<a href="/lista/oportunidade">Oportunidades    |</a>
		<a href="/lista/encaminhamento">Encaminhamentos    |</a>
		<a href="/lista/evento">Eventos    |</a>
		<a href="/servico">Serviços</a>
	   </h1>
        </div>


 </div>	
    <div id="content" class="flex">
      {% block conteudo %}{% endblock %}
    </div>
      {% block rodape %}
    <hr>
    <div id="footer">
      <p></p>
    </div>    
{% endblock %}
</div>
</body>
</html>
