{# inclui o template base.html #}
{% extends "base.html" %}

{# preenche o titulo da pagina que é passado para o template base atraves do 'block' titulo #}
{% block titulo %}{{titulo}}{% endblock %}

{# preenche o conteudo da pagina que é passado para o template base atraves do 'block' conteudo #}
{% block conteudo %}
<h1>{{titulo}}</h1>
<form action="" method="POST"> 
	<table>
		{{ form.as_table }}
		<tr>
			<td><button class="button"type="submit">Pesquisar</td>
			<td><a href="/lista/{{ objeto }}"><button class="button">Voltar</button></td>
		</tr>
	</table>
</form>

<div class="module">
<div id="content-related">
    <div class="module" id="recent-actions-module">
        <h2>Resumo da Consulta</h2>
        <h3>Parâmetros Utilizados:</h3>
	<ul><h4>{%for parametro in parametros %}{{parametro}}<br> {% endfor %}</h4></ul>
            <p>Total de Regitros: {{total}}</p>
    </div>
</div>
<table>
<caption><a href="/lista_aluno" class="section">{{lista_titulo}}</a></caption>
{%for registro in query %}
		<tr>
			<td><a href="/exibe/{{ objeto }}/{{ registro.id }}/"><img src="/media/img/exibir.gif/" /></a></td>
			<td><a href="/edita/{{ objeto }}/{{ registro.id }}/"><img src="/media/img/alterar.gif/" /></a></td>
			<td><a href="/deleta/{{ objeto }}/{{ registro.id }}/"><img src="/media/img/delete.gif/" /></a></td>
			<th scope="row">{{registro}} {% if registro.empresa %} ({{registro.empresa}}) {% endif %}
			{% if registro.oportunidade.empresa %} ({{registro.oportunidade.empresa}}) {% endif %}</th>
		</tr>
{% empty %}
<tr>
	<td><a href=""></td>
	<td></td>
	<th scope="row">{{lista_vazia}}</th>
</tr>
{% endfor %}
</table>
</div>
{% endblock %}
